<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASvmEP5x_fHw88HAL_27AXGyQkobNLrf4</string>
	<key>GCM_SENDER_ID</key>
	<string>62826115651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autopulse</string>
	<key>PROJECT_ID</key>
	<string>autopulse-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>autopulse-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62826115651:ios:b7e5f8fb65473d7f6b1af6</string>
</dict>
</plist>